Importing and loading dataframe

In [123]:
# Importing numpy and pandas
import numpy as np
import pandas as pd

In [124]:
# Importing the csv file with pandas library
cs = pd.read_csv('countries of the world1.csv')

In [125]:
# Inspecting the primary view of dataframe
cs.head(3)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65","46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49","15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53","17,14","4,61","0,101","0,6","0,298"

Fixing and Editing the colummn names

In [126]:
# Removing spaces from column names and replacing with "_"
newcolumn = [i.replace(" ","_") for i in cs.columns]
cs.columns = newcolumn 
cs.columns

Index(['Country', 'Region', 'Population', 'Area_(sq._mi.)',
       'Pop._Density_(per_sq._mi.)', 'Coastline_(coast/area_ratio)',
       'Net_migration', 'Infant_mortality_(per_1000_births)',
       'GDP_($_per_capita)', 'Literacy_(%)', 'Phones_(per_1000)', 'Arable_(%)',
       'Crops_(%)', 'Other_(%)', 'Birthrate', 'Deathrate', 'Agriculture',
       'Industry', 'Service'],
      dtype='object')

In [128]:
# Renaming the coulmn names
cs.rename(columns = {'Area_(sq._mi.)':'Area',
                     'Pop._Density_(per_sq._mi.)':'Population_density',
                     'Coastline_(coast/area_ratio)':'Coastline_ratio',
                     'Infant_mortality_(per_1000_births)':'Infant_mortality_rate',
                     'GDP_($_per_capita)':'GDP',
                     'Literacy_(%)':'Literacy_rate',
                     'Agriculture':'Agriculture_(%)',
                     'Industry':'Industry_(%)',
                     'Service':'Service_(%)'
                    } , inplace = True)

In [129]:
# Datatypes of values of each column before changing
cs.dtypes

Country                   object
Region                    object
Population                 int64
Area                       int64
Population_density        object
Coastline_ratio           object
Net_migration             object
Infant_mortality_rate     object
GDP                      float64
Literacy_rate             object
Phones_(per_1000)         object
Arable_(%)                object
Crops_(%)                 object
Other_(%)                 object
Birthrate                 object
Deathrate                 object
Agriculture_(%)           object
Industry_(%)              object
Service_(%)               object
dtype: object

In [130]:
cs.Region
# these values contain the leading and trailing spaces those need to be removed

0            ASIA (EX. NEAR EAST)
1      EASTERN EUROPE
2      NORTHERN AFRICA
3      OCEANIA
4      WESTERN EUROPE
                      ...
222    NEAR EAST
223    NORTHERN AFRICA
224    NEAR EAST
225    SUB-SAHARAN AFRICA
226    SUB-SAHARAN AFRICA
Name: Region, Length: 227, dtype: object

In [131]:
# Removing the leading and trailing spaces from all the values in the "Region" column
cs['Region'] = cs['Region'].str.strip(' ')
cs['Region'].unique()

array(['ASIA (EX. NEAR EAST)', 'EASTERN EUROPE', 'NORTHERN AFRICA',
       'OCEANIA', 'WESTERN EUROPE', 'SUB-SAHARAN AFRICA',
       'LATIN AMER. & CARIB', 'C.W. OF IND. STATES', 'NEAR EAST',
       'NORTHERN AMERICA', 'BALTICS'], dtype=object)

In [132]:
# Removing the leading and trailing spaces from all the values in the "Country" column
cs['Country'] = cs['Country'].str.strip(' ')

In [133]:
# Capitalizing the first letter of all the values in "Country" column
cs['Country'] = cs['Country'].str.capitalize()

In [134]:
# Repacing the old "Region" values with new values
cs.Region = cs.Region.replace('ASIA (EX. NEAR EAST)','Asia')
cs.Region = cs.Region.replace('LATIN AMER. & CARIB','South America')
cs.Region = cs.Region.replace('C.W. OF IND. STATES','Asia')
cs.Region = cs.Region.replace('NEAR EAST','Asia')
cs.Region = cs.Region.replace('NORTHERN AMERICA','North America')
cs.Region = cs.Region.replace('BALTICS','Europe')
cs.Region = cs.Region.replace('EASTERN EUROPE','Europe')
cs.Region = cs.Region.replace('NORTHERN AFRICA','Africa')
cs.Region = cs.Region.replace('OCEANIA','Australia')
cs.Region = cs.Region.replace('WESTERN EUROPE','Europe')
cs.Region = cs.Region.replace('SUB-SAHARAN AFRICA','Africa')
cs.Region.unique()

array(['Asia', 'Europe', 'Africa', 'Australia', 'South America',
       'North America'], dtype=object)

In [135]:
# Replacing the " , "  with " . " for all the values in respective columns
cs['Coastline_ratio']=cs['Coastline_ratio'].str.replace(",",".")
cs['Population_density']=cs['Population_density'].str.replace(",",".")
cs['Net_migration']=cs['Net_migration'].str.replace(",",".")
cs['Infant_mortality_rate']=cs['Infant_mortality_rate'].str.replace(",",".")
cs['Literacy_rate']=cs['Literacy_rate'].str.replace(",",".")
cs['Phones_(per_1000)']=cs['Phones_(per_1000)'].str.replace(",",".")
cs['Arable_(%)']=cs['Arable_(%)'].str.replace(",",".")
cs['Crops_(%)']=cs['Crops_(%)'].str.replace(",",".")
cs['Other_(%)']=cs['Other_(%)'].str.replace(",",".")
cs['Birthrate']=cs['Birthrate'].str.replace(",",".")
cs['Deathrate']=cs['Deathrate'].str.replace(",",".")
cs['Agriculture_(%)']=cs['Agriculture_(%)'].str.replace(",",".")
cs['Industry_(%)']=cs['Industry_(%)'].str.replace(",",".")
cs['Service_(%)']=cs['Service_(%)'].str.replace(",",".")

Hanlding the NaN and Non_finate values in Dataframe

In [136]:
# Checking if infinite values exists
ds = cs.isin([np.inf, -np.inf])
ds.head(3)

,Country,Region,Population,Area,Population_density,Coastline_ratio,Net_migration,Infant_mortality_rate,GDP,Literacy_rate,Phones_(per_1000),Arable_(%),Crops_(%),Other_(%),Birthrate,Deathrate,Agriculture_(%),Industry_(%),Service_(%)
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [137]:
# Finding the NaN values in the dataframe
nan_df = pd.DataFrame(cs.isna())
for i in nan_df:
    print(nan_df[i].value_counts(normalize= False))

False    227
Name: Country, dtype: int64
False    227
Name: Region, dtype: int64
False    227
Name: Population, dtype: int64
False    227
Name: Area, dtype: int64
False    227
Name: Population_density, dtype: int64
False    227
Name: Coastline_ratio, dtype: int64
False    224
True       3
Name: Net_migration, dtype: int64
False    224
True       3
Name: Infant_mortality_rate, dtype: int64
False    226
True       1
Name: GDP, dtype: int64
False    209
True      18
Name: Literacy_rate, dtype: int64
False    223
True       4
Name: Phones_(per_1000), dtype: int64
False    225
True       2
Name: Arable_(%), dtype: int64
False    225
True       2
Name: Crops_(%), dtype: int64
False    225
True       2
Name: Other_(%), dtype: int64
False    224
True       3
Name: Birthrate, dtype: int64
False    223
True       4
Name: Deathrate, dtype: int64
False    212
True      15
Name: Agriculture_(%), dtype: int64
False    211
True      16
Name: Industry_(%), dtype: int64
False    212
True      15
Name: Service_(%), dtype: int64

In [138]:
# Dropping the rows which contain any number of NaN values
cs.dropna(axis =0 , how = "any",inplace = True )

Formatting the datatypes of all the columns

In [139]:
# Changing the datatypes of all the columns
cs = cs.astype({"Country":object,
    "Region":object,
    "Population":int,
    "Area":int,
    "Population_density":float,
    "Coastline_ratio":float,
    "Net_migration":float,
    "Infant_mortality_rate":float,
    "GDP":int,
    "Literacy_rate":float,
    "Phones_(per_1000)":float,
    "Arable_(%)":float,
    "Crops_(%)":float,
    "Other_(%)":float,
    "Birthrate":float,
    "Deathrate":float,
    "Agriculture_(%)":float,
    "Industry_(%)":float,
    "Service_(%)":float})

In [140]:
# Changed datatypes of all the columns in the dataframe
cs.dtypes

Country                   object
Region                    object
Population                 int32
Area                       int32
Population_density       float64
Coastline_ratio          float64
Net_migration            float64
Infant_mortality_rate    float64
GDP                        int32
Literacy_rate            float64
Phones_(per_1000)        float64
Arable_(%)               float64
Crops_(%)                float64
Other_(%)                float64
Birthrate                float64
Deathrate                float64
Agriculture_(%)          float64
Industry_(%)             float64
Service_(%)              float64
dtype: object

Handling with the duplicates

In [144]:
# Finding if there are any duplicate rows in the dataframe
cs.duplicated().unique()

array([False])

In [145]:
# Finding if there are any duplicate values in the "Country" column
cs.duplicated(subset = 'Country').unique()

array([False])